
.fakeimg {
  height: 10px;
  background: #aaa;
}
 

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
 

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  
  .row{
       flex-direction: column;
  }
}
 

 

body {
  font-size: calc(16px + 1vw);
  line-height: calc(1.1em + 0.5vw);
}
 

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
/*   .navbar {*/
/*       overflow: hidden;*/
/*       background-color: #333;*/
/*       position: sticky;*/
/*       position: -webkit-sticky;*/
/*       top: 0;*/
/*       }*/

   /* Style the navigation bar links */
       .navbar a {
           float: center;
           display: block;
           color: white;
           text-align: center;
           padding: 14px 20px;
           text-decoration: none;
       }


        /* Right-aligned section inside the top navigation */
        .topnav-right {
          float: right;
        }

       /* Right-aligned link */
       .navbar a.right {
           float: right;
       }

       /* Change color on hover */
       .navbar a:hover {
           background-color: #ddd;
           color: black;
       }

       /* Active/current link */
       .navbar a.active {
           background-color: #666;
           color: white;
       }

 
